<div class="container my-5">
  <h1 class="text-center text-success">Registro de Agente</h1>
  <div class="row justify-content-center">
    <div class="col-md-6">
      <form (ngSubmit)="onRegister()">
        <div class="mb-3">
          <label for="name" class="form-label"><strong>Nombre</strong></label>
          <input
            type="text"
            id="name"
            [(ngModel)]="name"
            name="name"
            class="form-control"
            required
          />
        </div>
        <div class="mb-3">
          <label for="email" class="form-label"><strong>Correo Electrónico</strong></label>
          <input
            type="email"
            id="email"
            [(ngModel)]="email"
            name="email"
            class="form-control"
            required
          />
        </div>
        <div class="mb-3">
          <label for="password" class="form-label"><strong>Contraseña</strong></label>
          <input
            type="password"
            id="password"
            [(ngModel)]="password"
            name="password"
            class="form-control"
            required
          />
        </div>
        <div class="mb-3">
          <label for="station" class="form-label"><strong>Estación</strong></label>
          <input
            type="text"
            id="station"
            [(ngModel)]="station"
            name="station"
            class="form-control"
            required
          />
        </div>
        <button type="submit" class="btn btn-success w-100">Registrar</button>
        <p class="text-success mt-3" *ngIf="successMessage">{{ successMessage }}</p>
        <p class="text-danger mt-3" *ngIf="errorMessage">{{ errorMessage }}</p>
      </form>
    </div>
  </div>
</div>
